.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: stretch;
  flex: 1;
  padding: 24px 24px;
}

.textarea {
  width: 256px;
  resize: none;
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  padding: 8px;
}

.result {
  width: 256px;
  padding: 8px;
  display: flex;

  font-family: monospace;
  font-size: 12px;

  flex: 1;

  & pre {
    padding: 0;
    margin: 0;
  }
}

.result .stale {
  opacity: 50%;
  background: red;
}
