.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: stretch;
  flex: 1;
}

.textareaContainer {
  width: 256px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textarea {
  flex: 1;
  resize: none;
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  padding: 8px;
}

.buttons {
  display: flex;
  gap: 4px;

  & * {
    flex: 1
  }
}

.result {
  width: 0px;
  padding: 8px;
  display: flex;

  font-family: monospace;
  font-size: 12px;

  flex: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: scroll;

  & pre {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.result .stale {
  opacity: 50%;
  background: red;
}
